$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// Set rules for body element
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('/images/background2.jpg');
  background-size: cover;
  font-family: 'San Francisco', Helvetica Neue, Zapfino, sans-serif;
  font-size: 20px;
  opacity: 0.85;
}

// Wrap interface in a container
.container {
  background-color: #FBFBFB;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

// Position headline of game
.head_line {
  display: block;
  text-align: center;
  margin-right: 0;
  padding-right: 0;
}

// Position input Forms
#inputForms  {
  position: absolute;
  display: block;
  width: 57%;
  top: 150px;
  z-index: 2;
}

#player1Score, #player2Score {
  display: inline-block;
}

// Wrap buttons in a circle
#circle {
  background-color: #FBFBFB;
  border: 2px solid #666666;
  border-radius: 50%;
  filter: alpha(opacity=60);
  opacity: 0.8;
  margin: auto 10px;
  box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
  width: 200px;
  height: 200px;
  position: relative;
  left: 235px;
  z-index: 2;
  transition: background-color .5s ease-in-out;
  &:hover {
  background-color: #0099FF;
  }
}

// Position buttons in a middle of circle element
#btnX {
  position: absolute;
  top: 50%;
  bottom: 50%;
  margin: -50px 0px 0px 50px;
  opacity: 1;
  z-index: 3
}

#btnStart {
  background-color: #4ba614;
  background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
}

#btnReset {
  background-color: #ff9a9a;
  background-image: linear-gradient(to bottom, #ff9a9a, #ff4040);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9a9a, endColorstr=#ff4040);
}

h2 {
  text-align: center;
}

  // Position "score" element
.score {
  margin-top: 40px;
  margin-bottom: 10px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    width: 33.3%;
    border: 3px solid #0099FF;
    margin-right: -2px;
    text-align: center;
    height: 40px;
    color: #0099FF;
  }
}

.board {
  margin: 20px auto;
  width: 600px;
  height: 600px;
  background-color: #eee;
  border-radius: 20px;
  border: 3px solid #FF9900;
  box-shadow: 10px 5px 5px black;
}

.clear {
  float: none;
  clear: both;
}

.boardBody {
  width: 80%;
  height: 80%;
  table-layout: fixed;
  margin: 10% auto;
  visibility: hidden;
}

tr {
  text-align: center;
  font-family: 'Pacifico', Helvetica;
}

td {
  width: 30%;
  height: 30%;
  border: 3px solid #0099FF;
  overflow: hidden;
  font-size: 35px;
}

.notes {
  text-align: center;
  color: #0099FF;
}

  // Adding background to td element on hover
.boardBody td:hover {
  background-color: orange !important;
  opacity: 1;
  z-index: 4;
}

  // Style player 1 background and position
#player1 {
  background: linear-gradient(to right, rgba(255,0,0,0.1), rgba(255,0,0,1)); /*Standard*/
  height: 60px;
  padding-top: 12px;
}

  // Style player 1 background and position
#player2 {
  background: linear-gradient(to right, rgba(255,0,0,0.1), rgba(0,0,0,1)); /*Standard*/
  height: 60px;
  padding-top: 12px;
}

  // Page footer
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


  //Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  // Remove the padding we set earlier
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  // Space out the masthead
  .header {
    margin: 0 -15px 30px -15px;
    padding: 0;
    text-align: center;
    background-color: #0099FF;
    height: 60px;
    line-height: 60px;
    font: 36px;
  }
}

  //Responsive: Mobile devices
@media only screen and (max-device-width: 480px) {
  .container {
    max-width: 470px;
  }
  body {
    background-color: black;
    background-image: none;
  }
  #circle {
    visibility: hidden;
  }
  .board {
    width: 280px;
    height:280px;
  }
  #inputForms {
    position: relative;
    top: 20px;
  }
  #btnX {
    position: relative;
    margin-top: -80px;
    margin-left: -110px;
    visibility: visible;
  }
  #player1, #player2 {
    background-color: #0099FF;
    background-image: none;
  }
  .col-md-6 {
    height: 120px;
  }
}
