$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  //background-image: url('/images/background.jpeg');
  background-size: cover;
  font-family: Helvetica Neue, Zapfino, sans-serif;
  font-size: 20px;
}

.container {
  background-color: #FBFBFB;

}
.head_line {
  //color: #FF9900;
  display: block;
  text-align: center;
}
.head_line ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#player1Score, #player2Score {
  display: inline-block;
}
#btnX {
  float: right;
  margin: auto 10px;
}
.head_line li {
  float: left;
  width: 33.3%;
  //background-color: #CC3399;
  text-align: center;
  //border-left: 1px solid white;
  height: 40px;
}

.score ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}
.score {
  margin-top: 40px;
  margin-bottom: 10px;
}
.score li {
  float: left;
  width: 33.3%;
  //background-color: #9933FF;
  border: 3px solid #0099FF;
  margin-right: -2px;
  text-align: center;
  height: 40px;
  color: #0099FF;

}
.board {
  margin: 20px auto;
  width: 600px;
  height: 600px;
  background-color: #eee;
  border-radius: 20px;
  border: 3px solid #FF9900;

}
.clear {
  float: none;
  clear: both;
}

.boardBody {
  width: 80%;
  height: 80%;
  table-layout: fixed;
  margin: 10% auto;
}



tr {
  //margin: 0;
  text-align: center;
  font-family: 'Pacifico', Helvetica;
  //overflow: hidden;
 // table-layout: fixed;

}

td {
width: 30%;
height: 30%;
border: 3px solid #0099FF;
overflow: hidden;
}
/*#a, #b, #c, #d {
  border-top: none;
}
#m, #n, #o, #p {
  border-bottom: none;
}
#a, #e, #i, #m, {
  border-left: none;
}
#d, #h, #l, #p, {
  border-right: none;
}*/


#player1 {
  background-color: #FF851B;
  height: 60px;
  padding-top: 12px;
  //border-right: 2px solid black;
}

#player2 {
  background-color: #9933FF;
  height: 60px;
  padding-top: 12px;
  //border-right: 2px solid black;
}

/* Everything but the jumbotron gets side spacing for mobile first views
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}*/


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin: 0 -15px 30px -15px;
    padding: 0;
    text-align: center;
    background-color: #0099FF;
    height: 60px;
    line-height: 60px;
    font: 36px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
